<button type="button" class="btn btn-info btn-lg float-right" data-toggle="modal" data-target="#downgrade">
    Downgrade Account
  </button>

<!-- Modal -->
<div class="modal fade" id="downgrade" tabindex="1" role="dialog" aria-labelledby="downgrade" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="downgrade-title">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Downgrading your account will make all your private wikis public.</p> <p>Do you want to continue?</p>
      </div>
      <div class="modal-footer">
          
        <form method="POST" action="/users/downgrade">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" value="Yes, downgrade my account" class="btn btn-primary"/>
      </form>
      </div>
    </div>
  </div>
</div>