<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    <% include ./partials/head.ejs %>
    <!-- Head -->

  </head>
  <body>
     
     <!-- Navigation -->
     <% include ./partials/nav.ejs %>
     <!-- Navigation -->
     

      <!-- Page Content -->
      <main class="container">

          
          

        <!-- messages -->
        <% include ./partials/messages.ejs %>
        <!-- messages -->

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4  bg-light border rounded">
            <% if(currentUser && currentUser.role === 'premium') { %>
              <!-- downgrade -->
              <% include ../modals/downgrade-confirm.ejs %>
              <!-- downgrade -->
              <% } %>
              
          <h1 class="display-3">Blocipedia</h1>
          <h2 class="display-8">Blocipedia: Social, Markdown Wikis</h2>

          <br>
          <a class="btn btn-primary btn-lg mr-3" href="/wikis" role="button">View Wikis</a>


          <!-- Stripe -->
          <% if(currentUser && currentUser.role === 'standard') { %>
            <% include ./partials/stripe.ejs %>
          <% } %>
          <!-- Stripe -->
          
          

          <a class="btn btn-primary btn-lg" href="/wikis/new" role="button">+ New Wiki</a>

          
          
        </header>
        <!-- Jumbotron Header -->

        <!-- /.container -->
        <div class="container mx-auto bg-light border rounded"><br>

            <h3 class="text-center">Create and share markdown wikis</h3>

            <% if(!currentUser) { %>
              <p class="text-center"> <a class="btn btn-primary btn-lg mr-3" href="/users/signup" role="button">Sign up</a></p>
            <% } %>

            <br>

            
          </div>
        <!-- /.container -->
          
      </main>
      

      <!-- Script -->
       <% include ./partials/script.ejs %>
      <!-- Script -->

      
    </body>
</html>